/*CSS Reset + Font Specification*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("../fonts/SourceCodePro-Regular.ttf") format("truetype");
  src: url("../fonts/SourceCodePro-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "DroidSansMono";
  src: url("../fonts/DroidSansMono.ttf") format("truetype");
}
:root {
  --grey: rgb(24, 24, 24);
  --green: #23591d;
  --lgreen: #377930;
  --blue: #449398;
  /*variables for gradient*/
  --d: 2500ms;
  --angle: 62.5deg;
  --c2: rgba(168, 239, 255, 0.021);
}

body {
  font-family: "DroidSansMono", "SourceCodeMono", sans-serif;
  background-color: rgb(42, 43, 43) !important;
  color: rgba(230, 230, 230, 0.9) !important;
  padding: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
:root {
  --random-number: 5s;
  --bright: rgb(0, 255, 128, 1);
  --reflection-bright: rgb(0, 255, 128, 0.5);
  --dim: rgba(0, 255, 128, 0.1);
  --reflection-dim: rgba(0, 255, 128, 0.05);
}

:root:has(.navMenu.green) {
  --bright: rgb(0, 255, 128, 1);
  --reflection-bright: rgb(0, 255, 128, 0.5);
  --dim: rgba(0, 255, 128, 0.1);
  --reflection-dim: rgba(0, 255, 128, 0.05);
}

:root:has(.navMenu.blue) {
  --bright: rgb(0, 174, 255);
  --reflection-bright: rgba(0, 204, 255, 0.5);
  --dim: rgba(0, 174, 255, 0.1);
  --reflection-dim: rgba(0, 204, 255, 0.05);
}

:root:has(.navMenu.purple) {
  --bright: rgb(115, 0, 255);
  --reflection-bright: rgba(115, 0, 255, 0.5);
  --dim: rgba(115, 0, 255, 0.1);
  --reflection-dim: rgba(115, 0, 255, 0.05);
}

:root:has(.navMenu.yellow) {
  --bright: rgb(217, 255, 0);
  --reflection-bright: rgba(217, 255, 0, 0.5);
  --dim: rgba(217, 255, 0, 0.1);
  --reflection-dim: rgba(217, 255, 0, 0.05);
}

:root:has(.navMenu.red) {
  --bright: rgb(255, 0, 0);
  --reflection-bright: rgba(255, 0, 0, 0.5);
  --dim: rgba(255, 0, 0, 0.1);
  --reflection-dim: rgba(255, 0, 0, 0.05);
}

.navMenu {
  width: 15vw;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  position: fixed;
  justify-content: flex-start;
  background-color: rgb(20, 20, 20);
  box-shadow: inset -165px 84px 165px -190px var(--reflection-bright), -5px 0px 45px var(--bright);
  animation: border-flicker var(--random-number) linear infinite;
  top: 0;
  left: 0;
  padding-top: 2.5em;
}
.navMenu > a {
  display: block;
  margin: 1em 0 1em 1em;
}
.navMenu-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0 0 0 1.5em;
}
.navMenu-list li {
  text-decoration: none;
  list-style: none;
  width: 150px;
  margin: 0.5em 0;
}

@keyframes border-flicker {
  0%, 35%, 45%, 46.5%, 65%, 72%, 74%, 95% {
    box-shadow: inset -165px 84px 165px -190px var(--reflection-dim), -5px 0px 45px var(--dim);
  }
  1%, 34%, 35.5%, 45.75%, 47%, 66%, 72.5%, 75%, 94%, 99% {
    box-shadow: inset -165px 84px 165px -190px var(--reflection-bright), -5px 0px 45px var(--bright);
  }
}
.modalContainer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(151, 151, 151, 0.2196078431);
  display: none;
}
.modalContainer:has(.modal.open) {
  display: block;
}
.modalContainer .modal {
  max-height: 50vh;
  min-height: 15em;
  max-width: 50vw;
  min-width: 25em;
  margin: 10em auto 0 auto;
  background: #18281a;
  padding: 2em 2em;
  border-radius: 15px;
}
.modalContainer .modal.open {
  display: block;
}
.modalContainer .modal-header {
  margin-bottom: 1em;
}
.modalContainer .modal-header h4 {
  font-weight: 500;
  font-size: 16pt;
}
.modalContainer .modal-content {
  display: flex;
  flex-flow: column nowrap;
}
.modalContainer .modal-content input {
  margin-bottom: 2em;
}
.modalContainer .modal-body form {
  display: flex;
  flex-flow: column nowrap;
}
.modalContainer .modal-body form textarea {
  min-height: 7.5em;
}
.modalContainer .modal-footer {
  display: flex;
  flex-flow: row nowrap;
}
.modalContainer .modal-footer button,
.modalContainer .modal-footer a {
  margin: 1em;
}

#__next {
  display: flex;
  flex-flow: row nowrap;
}
#__next > div {
  width: 85vw;
  height: auto;
  margin-left: 15vw;
}

#index {
  margin: auto;
}
#index #titleCard {
  height: 95vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
#index #titleCard .namePlate {
  margin: auto;
  width: auto;
  display: flex;
  flex-flow: row-reverse nowrap;
  padding: 1em;
  border: 2px solid black;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.1);
}
#index #titleCard .namePlate-image > img {
  width: 20em;
  height: auto;
}
#index #titleCard .namePlate-text {
  height: auto;
  display: block;
  margin: auto 1em;
  text-align: right;
  border-right: 2px solid rgb(0, 0, 0);
  padding-right: 1em;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
#index #titleCard .namePlate-text > * {
  margin: 16px 0;
}
#index #titleCard .namePlate-text h1 {
  font-size: 48px;
}
#index #titleCard .namePlate-text p {
  font-size: 24px;
}
#index #titleCard .namePlate-text p:has(small) {
  font-size: 16px;
}

#login > * {
  margin: auto;
}
#login h1 {
  width: max-content;
}
#login form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 25em;
  margin-top: 1em;
}
#login form > label {
  margin-top: 1em;
}
#login form > button {
  margin-top: 2em;
}

/*# sourceMappingURL=main.css.map */
