.modalContainer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  &:has(.modal.open) {
    display: block;
  }
  .modal {
    display: none;
    max-height: 50vh;
    max-width: 50vw;
    min-width: 25em;
    margin: 10em auto 0 auto;
    &.open {
      display: block;
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      input {
        margin-bottom: 2em;
      }
    }

    &-body {
      form {
        display: flex;
        flex-flow: column nowrap;
      }
    }

    &-footer {
      display: flex;
      flex-flow: row nowrap;
      button,
      a {
        margin: 1em;
      }
    }
  }
}
