.slideshow {
  .slide {
    width: 100%;
    max-width: 100% !important;
    min-width: 100% !important;
    img {
      width: 100%;
      height: 100%;
      max-width: 25vw;
      max-height: 25vw;
      object-position: top;
      object-fit: cover;
      display: block;
      margin: 0 auto;
    }
    p {
      display: block;
      max-width: max-content;
      margin: 1em auto 0 auto;
    }
  }

  .dots {
    display: flex;
    padding: 10px 0;
    justify-content: center;
    position: relative;
    width: 100%;
    .dot {
      border: none;
      width: 10px;
      height: 10px;
      background: #c5c5c5;
      border-radius: 50%;
      margin: 0 5px;
      padding: 5px;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &.active {
        background: #6f66b0;
      }
    }
  }

  .arrowContainer {
    display: block;
    width: 100%;
    position: absolute;
    fill: #fff;
    cursor: pointer;
    top: 50%;

    .arrow {
      display: block;
      margin: auto;
      width: 30px;
      height: 30px;
      position: absolute;
      fill: #fff;
      cursor: pointer;

      &--left {
        left: 5px;
      }

      &--right {
        left: auto;
        right: 5px;
      }

      &--disabled {
        fill: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
